name: Run Double Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install requirements
        run: pip install -r requirements.txt
        
      - name: set up Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run test suite 1
        working-directory: testing-1/features
        run: behave

      - name: Run test suite 2
        working-directory: testing-2/features
        run: behave